:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.converter-form {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.converter-form__swap-currencies {
    background: lightgrey;
}

.converter-form__from-to-wrapper {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}

.converter-form__formfield-autocomplete {
    max-width: 100px;
}
