:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wallet {
    height: 100%;
}

.wallet__grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.table {
    grid-column: span 8;
    padding: 1rem;
}

.table__filters {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.table__wrapper {
    box-shadow: 0 0 10px 5px lightgrey;
}

.transactions {
    grid-column: span 4;
    border-left: 1px solid lightgrey;
}

.transactions__operations {
    padding: 1rem;
    border-bottom: 1px solid lightgrey;
}

.transactions__operations-toggle-group {
    margin-bottom: 1rem;
}

.transaction-form__form-field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.transaction-form__submit {
    background: lightblue;
}

.transactions__header {
    padding: 0.5rem;
}

.transaction {
    padding: 0.25rem;
    border-bottom: 1px solid lightgrey;
}
