:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wallet {
    height: 100%;
}

.wallet__grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.table {
    grid-column: span 8;
    padding: 1rem;
}

.table__filters {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.transactions {
    grid-column: span 4;
    border-left: 1px solid lightgrey;
}
